<h1> <%= @game.player_1.name %> VS <%= @game.player_2.name %> successfully created </h1>
<h2> <%= @game.player_1.name %> now has <%= @game.player_1.hitpoints %> hitpoints</h2>
<h2> <%= @game.player_2.name %> now has <%= @game.player_2.hitpoints %> hitpoints</h2>

<h2> It is <%= @game.current_player.name %>'s turn</h2>



<form action="/attack_successful" method="get">
    <input type="submit" value="Attack!">
</form>
