<h1> <%= @player1.name %> vs. <%= @player2.name %>! Fight!!! </h1>

<h2>
  <form action="/play">
    <input type="submit" value="View player 2's HP"/>
  </form>

  <form action="/attack">
    <input type="submit" value="Attack"/>
  </form>
</h2>

<ul>
  <li><%= @player1.name %>: <%= @player1.health %> HP</li>
  <li><%= @player2.name %>: <%= @player2.health %> HP</li>
</ul>
